[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-whooshalchemyplus = "*"
redis = "*"
rq = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-moment = "*"
awesome-slugify = "*"
jieba = "*"
phpserialize = "*"
pymysql = "*"
flask-cors = "*"
mistune = "*"

[requires]
python_version = "3.7"
