[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-whooshalchemyplus = {git = "https://github.com/Revolution1/Flask-WhooshAlchemyPlus.git",ref = "0.7.5"}
redis = "*"
rq = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-moment = "*"
awesome-slugify = "*"
jieba = "*"
phpserialize = "*"
pymysql = "*"
flask-cors = "*"
mistune = "*"
flask-wtf = "*"
cryptography = "*"
python-dateutil = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
