<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">{{ get_setting_value('site_name') }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.logout') }}">注销</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('auth.login') }}">登录</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>