<!DOCTYPE html>

<html lang="zh-CN">
<head>
    {% block head %}
        <meta charset="UTF-8">
        {% block metas %}
        {% endblock metas %}
        <title>{% block title %}{% endblock title %} - Powered by BearBlog</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon-192x192.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon-180x180.png') }}">
        {% block styles %}
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='_sidebar.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='colorful.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='markdown.css') }}">
        {% endblock styles %}
    {% endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}>
{% block body %}
    {% block navbar %}
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
{% endblock body %}
{% block scripts %}
    {{ bootstrap.load_js() }}
    {{ moment.include_moment(local_js=url_for('static', filename='moment-2.20.1/min/moment.min.js')) }}
    <script src="{{ url_for('static', filename='moment-2.20.1/locale/zh-cn.js') }}" charset="UTF-8"></script>
    {{ moment.lang('zh-CN') }}
{% endblock scripts %}
</body>
</html>

