{% extends "_base.html" %}

{% block title %}{{ get_setting_value('site_name') }}{% endblock %}

{% block navbar %}
    {% set custom_navbar=custom_navbar() %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="/">{{ custom_navbar['brand'] }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for item in custom_navbar['items'] %}
                    <li class="nav-item"><a class="nav-link" href="{{ item['link'] }}">{{ item['name'] }}</a></li>
                {% endfor %}
            </ul>
            {% for template in custom_navbar['templates'] %}
                {{ template['template']|safe }}
            {% endfor %}
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap mt-3">
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs bd-sidebar">
                {% block sidebar_left %}
                {% endblock %}
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                <div class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                        </div>
                    {% endfor %}
                </div>
                {% block main %}
                {% endblock %}
            </div>
            <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
                {% block sidebar_right %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='bootstrap-autohidingnavbar-1.0.5/dist/jquery.bootstrap-autohidingnavbar.min.js') }}"></script>
    <script>
        $("nav.navbar-fixed-top").autoHidingNavbar();
    </script>
{% endblock %}
