{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block styles %}
    {{ super() }}
    {% for style in styles %}
        {{ style|safe }}
    {% endfor %}
{% endblock %}

{% block main %}
    {% for widget in main_widgets %}
        <div id="widget-{{ widget['slug'] }}">
            {{ widget['html']|safe }}
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar_left %}
    {% for widget in left_widgets %}
        {% if 'is_html_as_list' in widget and widget['is_html_as_list'] %}
            {{ macros.render_card(widget['slug'],widget['name'],content_before=widget['html']) }}
        {% else %}
            {{ macros.render_card(widget['slug'],widget['name'],widget['html']) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block sidebar_right %}
    {% for widget in right_widgets %}
        {% if 'is_html_as_list' in widget and widget['is_html_as_list'] %}
            {{ macros.render_card(widget['slug'],widget['name'],content_before=widget['html']) }}
        {% else %}
            {{ macros.render_card(widget['slug'],widget['name'],widget['html']) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for script in scripts %}
        {{ script|safe }}
    {% endfor %}
{% endblock %}