<form id="settings-form" class="form-horizontal">
    <input type="hidden" name="_category" value="{{ category }}"/>
    {% for key,value in meta.items() %}
        <input type="hidden" name="_meta_{{ key }}" value="{{ value }}"/>
    {% endfor %}
    {% for setting in settings %}
        <div class="form-group setting" data-slug="{{ setting['slug'] }}" data-value-type="{{ setting['value_type'] }}">
            <label class="col-md-4">{{ setting['name'] }}</label>
            <div class="col-md-8">
                {% if setting['value_type']=='signal' %}
                    {% set value=setting.get_value_self() %}
                    {% for list_name,items in value['subscribers_order'].items() %}
                        <label class="col-md-4">List: {{ list_name }}</label>
                        {% for item in items %}
                            <div class="form-check">
                                <input class="form-check-input" name="{{ list_name }}" type="checkbox" value="{{ item['subscriber'] }}" {% if item['is_on'] %} checked {% endif %}>
                                <button type="button" class="btn fa fa-arrow-up p-0"></button>
                                <button type="button" class="btn fa fa-arrow-down p-0"></button>
                                <label class="form-check-label">
                                    {{ value['subscribers'][item['subscriber']]['file'] }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <input name="{{ setting['slug'] }}" type="text" class="form-control"
                           value="{{ setting['value'] if setting['value'] else '' }}">
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-default">提交</button>
        </div>
    </div>
</form>