<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="nav-post-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#nav-post-collapse"
               aria-expanded="true" aria-controls="nav-post-collapse">
                文章
            </a>
        </h4>
    </div>
    <div id="nav-post-collapse" class="panel-collapse collapse in" role="tabpanel"
         aria-labelledby="nav-post-heading">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('.edit',type='article') }}">撰写文章</a></li>
            <li class="list-group-item"><a href="{{ url_for('.show_list',type='article') }}">管理文章</a></li>
        </ul>
    </div>

    <div class="panel-heading" role="tab" id="nav-category-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#nav-category-collapse"
               aria-expanded="true" aria-controls="nav-category-collapse">
                分类
            </a>
        </h4>
    </div>
    <div id="nav-category-collapse" class="panel-collapse collapse in" role="tabpanel"
         aria-labelledby="nav-category-heading">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('.edit',type='category') }}">新建分类</a></li>
            <li class="list-group-item"><a href="{{ url_for('.show_list',type='category') }}">管理分类</a></li>
        </ul>
    </div>

    <div class="panel-heading" role="tab" id="nav-tag-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#nav-tag-collapse"
               aria-expanded="true" aria-controls="nav-tag-collapse">
                标签
            </a>
        </h4>
    </div>
    <div id="nav-tag-collapse" class="panel-collapse collapse in" role="tabpanel"
         aria-labelledby="nav-tag-heading">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('.edit',type='tag') }}">新建标签</a></li>
            <li class="list-group-item"><a href="{{ url_for('.show_list',type='tag') }}">管理标签</a></li>
        </ul>
    </div>

    <div class="panel-heading" role="tab" id="nav-page-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#nav-page-collapse"
               aria-expanded="true" aria-controls="nav-page-collapse">
                页面
            </a>
        </h4>
    </div>
    <div id="nav-page-collapse" class="panel-collapse collapse in" role="tabpanel"
         aria-labelledby="nav-page-heading">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('.edit',type='page') }}">编撰页面</a></li>
            <li class="list-group-item"><a href="{{ url_for('.show_list',type='page') }}">管理页面</a></li>
        </ul>
    </div>

    <div class="panel-heading" role="tab" id="nav-template-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#nav-template-collapse"
               aria-expanded="true" aria-controls="nav-template-collapse">
                模板
            </a>
        </h4>
    </div>
    <div id="nav-template-collapse" class="panel-collapse collapse in" role="tabpanel"
         aria-labelledby="nav-template-heading">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('.edit',type='template') }}">新建模板</a></li>
            <li class="list-group-item"><a href="{{ url_for('.show_list',type='template') }}">管理模板</a></li>
        </ul>
    </div>

    <div class="panel-heading" role="tab" id="nav-comment-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#nav-comment-collapse"
               aria-expanded="true" aria-controls="nav-comment-collapse">
                评论
            </a>
        </h4>
    </div>
    <div id="nav-comment-collapse" class="panel-collapse collapse in" role="tabpanel"
         aria-labelledby="nav-comment-heading">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('.show_list',type='comment') }}">管理评论</a></li>
        </ul>
    </div>
</div>