{% extends "bootstrap/base.html" %}

{% block title %}Penguin{% endblock %}

{% block navbar %}
    {% include "admin/_navbar.html" %}
{% endblock %}

{% block body_attribs %}
    style = "padding-top: 70px;"
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% include "admin/_sidebar.html" %}
            </div>
            <div class="col-md-10">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}