{% extends "admin/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.css') }}">
{% endblock %}

{% block page_content %}
    <form method="post">
        {{ form.csrf_token }}
        <input name="id" type="hidden" value="{{ post.id }}">
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="标题" value="{{ post.title }}">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{{ url_for('main.show_none_post',_external=True) }}</span>
                        <input name="slug" type="text" class="form-control" value="{{ post.slug }}">
                        <span class="input-group-addon">.html</span>
                        <span class="input-group-btn">
                            <button id="trans-slug" class="btn btn-default" type="button">转换链接</button>
                        </span>
                    </div>
                </div>
                {% if post.is_template_enabled() %}
                    <div id="fields">
                        <button id="new-field" type="button">添加字段</button>
                        {% for field in post.field_metas.all() %}
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>字段名</label>
                                    <input name="field-key" type="text" class="form-control" value="{{ field.key }}">
                                </div>
                                <div class="form-group">
                                    <label>字段值</label>
                                    <textarea name="field-value">{{ field.value }}</textarea>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div id="markdown-editor">
                        <textarea name="body" style="display:none;">{{ post.body }}</textarea>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-4">
                {% block options_content %}
                {% endblock %}
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if post.is_template_enabled() %}
        <script type="text/javascript">
            $('#new-field').click(function () {
                let field_html = `
                    <div class="form-inline">
                    <div class="form-group">
                        <label>字段名</label>
                        <input name="field-key" type="text" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label>字段值</label>
                        <textarea name="field-value"></textarea>
                    </div>
                </div>
                `;
                $('#fields').append(field_html);
            })
        </script>
    {% else %}
        <script src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
        <script type="text/javascript">
            editormd({
                id: "markdown-editor",
                width: "100%",
                height: 640,
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        $('#trans-slug').click(function () {
            $input = $(this).parent().siblings('input');
            $.ajax({
                type: 'GET',
                url: '{{ url_for('.trans_slug') }}',
                data: {
                    string: $input.val()
                },
                success: function (msg) {
                    $input.val(msg['slug']);
                }
            })
        })
    </script>
    {% block options_scripts %}
    {% endblock %}
{% endblock %}