{% extends "admin/base.html" %}

{% block styles %}
    {{ super() }}
    {% for style in styles %}
        {% include style %}
    {% endfor %}
{% endblock %}

{% block page_content %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="type" value="{{ type }}"/>
        {% for hidden in hiddens %}
            {% include hidden %}
        {% endfor %}
        <div class="row">
            <div class="col-lg-8">
                {% for content in contents %}
                    {% include content %}
                {% endfor %}
            </div>
            <div class="col-lg-4">
                {% for widget in widgets %}
                    {% include widget %}
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for script in scripts %}
        {% include script %}
    {% endfor %}
{% endblock %}