{% extends "admin/edit-post.html" %}
{% import "admin/_option-macros.html" as options with context %}

{% block title %}撰写文章 - Penguin{% endblock %}

{% block page_title %}<h1>撰写文章</h1>{% endblock %}

{% block options_content %}
    {{ options.submit() }}
    {{ options.attachment(attachments) }}
    {{ options.category(all_category_metas,category_meta_ids) }}
    {{ options.tag(all_tag_metas) }}
{% endblock %}

{% block options_scripts %}
    {{ options.submit_script(post) }}
    {{ options.attachment_script(post) }}
    {{ options.tag_script(tags) }}
{% endblock %}

