{% extends "_base.html" %}

{% block title %}Penguin{% endblock %}

{% block navbar %}
    {% include "admin/_navbar.html" %}
{% endblock %}

{% block body_attribs %}
    style = "padding-top: 70px;"
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    {% for sidebar in sidebars %}
                        {% include sidebar %}
                    {% endfor %}
                    {% for sidebar in new_sidebars %}
                        <div class="panel-heading" role="tab" id="nav-{{ sidebar['slug'] }}-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#nav-{{ sidebar['slug'] }}-collapse"
                                   aria-expanded="true" aria-controls="nav-{{ sidebar['slug'] }}-collapse">
                                    {{ sidebar['name'] }}
                                </a>
                            </h4>
                        </div>
                        <div id="nav-{{ sidebar['slug'] }}-collapse" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="nav-{{ sidebar['slug'] }}-heading">
                            <ul class="list-group">
                                {% for item in sidebar['items'] %}
                                    <li class="list-group-item">
                                        <a href="{{ item['url'] }}">{{ item['name'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% for template in templates %}
                    {{ template|safe }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for script in scripts %}
        {{ script|safe }}
    {% endfor %}
{% endblock %}