{% extends "_base.html" %}

{% block title %}{{ get_setting_value('site_name') }}{% endblock %}

{% block navbar %}
    {% include "admin/_navbar.html" %}
{% endblock %}

{% block styles %}
    {{ super() }}
    {% for css in csss %}
        {{ css|safe }}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    {% for sidebar in sidebars %}
                        {% include sidebar %}
                    {% endfor %}
                    {% for plugin in plugins.values() %}
                        {% if plugin.show_in_sidebar %}
                            <div class="card-header" role="tab" id="nav-{{ plugin.slug }}-heading">
                                <a role="button" data-toggle="collapse" href="#nav-{{ plugin.slug }}-collapse"
                                   aria-expanded="true" aria-controls="nav-{{ plugin['slug'] }}-collapse">
                                    {{ plugin.name }}
                                </a>
                            </div>
                            <div id="nav-{{ plugin.slug }}-collapse" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="nav-{{ plugin.slug }}-heading">
                                <ul class="list-group">
                                    {% for route in plugin.routes.values() %}
                                        {% if route.name is not none %}
                                            <li class="list-group-item">
                                                <a href="{{ route.path() }}">{{ route.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% for template in templates %}
                    {{ template|safe }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for script in scripts %}
        {{ script|safe }}
    {% endfor %}
{% endblock %}