{% extends "admin/base.html" %}
{% import "_macros.html" as macros %}

{% macro convert(element) %}
    {% if element is list %}
        {% for e in element %}
            {{ convert(e) }}
            {{ ', ' if not loop.last }}
        {% endfor %}
    {% elif element.type=='Plain' %}
        {{ element.text }}
    {% elif element.type=='Hyperlink' %}
        <a href="{{ element.link }}">{{ element.text }}</a>
    {% elif element.type=='Datetime' %}
        {{ moment(element.utc).format('lll') }}
    {% endif %}
{% endmacro %}

{% block title %}管理{{ title }} - Penguin{% endblock %}

{% block page_title %}<h1>管理{{ title }}</h1>{% endblock %}

{% block page_content %}
    <ul class="nav nav-tabs">
        {% for tab in tabs.tabs %}
            <li {% if tabs.selected_tab == tab.text %} class="active" {% endif %}>
                <a href="{{ tab.link }}">{{ tab.text }}</a>
            </li>
        {% endfor %}
    </ul>
    <div id="toolbar">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <select id="select-actions" class="form-control" name="action" form="form-table">
                        <option>批量操作</option>
                        <option value="delete">删除</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="do-action" class="btn btn-default" type="submit" form="form-table">应用</button>
                    </span>
                </div>
            </div>
            <div class="col-md-7">
            </div>
            <div class="col-md-3">
                <form method="get">
                    <input type="hidden" name="type" value="{{ type }}"/>
                    <div class="input-group">
                        <input name="search" type="text" class="form-control" placeholder="关键字"
                               value="{{ search }}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">搜索</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form id="form-table" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="type" value="{{ type }}"/>
        <table id="table" class="table">
            <thead>
            <tr>
                {% for h in table.head %}
                    <th>{% if loop.first %}<input id="selectAll" type="checkbox">{% else %}{{ h }}{% endif %}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table.rows %}
                <tr>
                    {% for e in row %}
                        <td>
                            {% if loop.first %}
                                <input type="checkbox" name="id" value="{{ e }}">
                            {% else %}
                                {{ convert(e) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    {% if pagination %}
        <div class="text-right">
            {{ macros.pagination_widget(pagination.pagination, pagination.endpoint , **pagination.fragment) }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    </script>
{% endblock %}