{% extends "admin/base.html" %}
{% import "_macros.html" as macros %}

{% block title %}管理分类 - Penguin{% endblock %}

{% block page_title %}<h1>管理分类</h1>{% endblock %}

{% block page_content %}
    <div id="toolbar">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <select id="select-actions" class="form-control" name="action" form="form-table">
                        <option value="">批量操作</option>
                        <option value="delete">删除</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="do-action" class="btn btn-default" type="submit" form="form-table">应用</button>
                    </span>
                </div>
            </div>
            <div class="col-md-7">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <form id="form-table" method="post">
        <table id="table" class="table">
            <thead>
            <tr>
                <th><input id="selectAll" type="checkbox"></th>
                <th>名称</th>
                <th>别名</th>
                <th>文章数</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td><input type="checkbox" name="id" value="{{ category.id }}"></td>
                    <td>
                        <a href="{{ url_for('.show_category',id=category.id) }}">
                            {{ category.value }}
                        </a>
                    </td>
                    <td>{{ category.key }}</td>
                    <td>{{ category.post_metas.count() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form.csrf_token }}
    </form>
    {% if pagination %}
        <div class="text-right">
            {{ macros.pagination_widget(pagination, '.list_categories') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('#selectAll').click(function (e) {
                var table = $(e.target).closest('table');
                $('td input:checkbox', table).prop('checked', this.checked);
            });
        });
    </script>
{% endblock %}