{% extends "admin/base.html" %}
{% import "admin/_option-macros.html" as options %}

{% block title %}撰写文章 - Penguin{% endblock %}

{% block page_title %}<h1>撰写文章</h1>{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.css') }}">
{% endblock %}

{% block page_content %}
    <form method="post">
        {{ form.csrf_token }}
        <input name="id" type="hidden" value="{{ post.id }}">
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="标题" value="{{ post.title }}">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{{ url_for('main.show_none_post',_external=True) }}</span>
                        <input name="slug" type="text" class="form-control" value="{{ post.slug }}">
                        <span class="input-group-addon">.html</span>
                    </div>
                </div>
                <div id="markdown-editor">
                    <textarea name="body" style="display:none;">{{ post.body }}</textarea>
                </div>
            </div>
            <div class="col-lg-4">
                {{ options.submit() }}
                {{ options.attachment(attachments) }}
                {{ options.category(all_categories,category_ids) }}
                {{ options.tag(all_tags) }}
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            editormd({
                id: "markdown-editor",
                width: "100%",
                height: 640,
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });
        });
    </script>
    {{ options.submit_script(post) }}
    {{ options.attachment_script(post) }}
    {{ options.tag_script(tags) }}
{% endblock %}