{% extends "admin/base.html" %}

{% block title %}撰写文章 - Penguin{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.css') }}">
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-8">
            <div id="markdown-editor">
                <textarea style="display:none;"></textarea>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="option-submit-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#option-submit-collapse"
                           aria-expanded="true" aria-controls="option-submit-collapse">
                            发布
                        </a>
                    </h4>
                </div>
                <div id="option-submit-collapse" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="option-submit-heading">
                    <div class="panel-body">
                        <div class="form-group form-inline">
                            <label for="submit-datetime">发布时间</label>
                            <input type="text" class="form-control" id="submit-datetime"
                                   placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default">保存草稿</button>
                        <button type="button" class="btn btn-primary pull-right">发布</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="option-attachment-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#option-attachment-collapse"
                           aria-expanded="true" aria-controls="option-attachment-collapse">
                            附件
                        </a>
                    </h4>
                </div>
                <div id="option-attachment-collapse" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="option-attachment-heading">
                    <div id="panel-body-upload" class="panel-body">
                        <input id="fileupload" type="file" multiple>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hide-area" style="display: none;">
        <section class="upload-item">
            <h5></h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                     style="width: 0;">
                </div>
            </div>
            <strong></strong>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='laydate/laydate.js') }}"></script>
    <script src="{{ url_for('static', filename='jQuery-File-Upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ url_for('static', filename='jQuery-File-Upload/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript">
        var markdownEditor;
        var origUploadItem = $('#hide-area').find('.upload-item');

        $(function () {
            markdownEditor = editormd({
                id: "markdown-editor",
                width: "100%",
                height: 640,
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });

            $('#fileupload').fileupload({
                url: "{{ url_for('.upload') }}",
                formData: {
                    'id': 1
                },
                dropZone: $('#option-attachment-collapse'),
                add: function (e, data) {
                    console.log(data);
                    var clonedUploadItem = $(origUploadItem).clone().show();
                    clonedUploadItem.appendTo('#panel-body-upload');
                    data.context = clonedUploadItem;
                    data.submit();
                    data.context.find('h5').text(data.files[0].name);
                },
                progress: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    data.context.find('.progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
                },
                fail: function (e, data) {
                    data.context.find('.progress-bar').css('width', '100%').attr('aria-valuenow', 100);
                    data.context.find('.progress-bar').addClass('progress-bar-danger');
                    data.context.find('strong').text('未知错误');
                },
                done: function (e, data) {
                    if (data.result['code'] === 0) {
                        data.context.find('.progress-bar').css('width', '100%').attr('aria-valuenow', 100);
                        data.context.find('.progress-bar').addClass('progress-bar-success');
                        data.context.find('h5').append('<small>' + data.result['file_size'] + '</small>');
                    } else {
                        data.context.find('.progress-bar').css('width', '100%').attr('aria-valuenow', 100);
                        data.context.find('.progress-bar').addClass('progress-bar-danger');
                        data.context.find('strong').text(data.result['message']);
                    }
                }
            });
        });

        laydate.render({
            elem: '#submit-datetime',
            type: 'datetime'
        });
    </script>
{% endblock %}