{% extends "bootstrap/base.html" %}

{% block head %}
    <meta charset="utf-8"/>
    {{ super() }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon-192x192.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='apple-touch-icon-180x180.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='colorful.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment(local_js=url_for('static', filename='moment-2.20.1/min/moment.min.js')) }}
    <script src="{{ url_for('static', filename='moment-2.20.1/locale/zh-cn.js') }}" charset="UTF-8"></script>
    {{ moment.lang('zh-CN') }}
{% endblock %}
