{% extends "_base.html" %}

{% block title %}Penguin{% endblock %}

{% block navbar %}
    {{ nav.main.render(renderer='main') }}
{% endblock %}

{% block body_attribs %}
    style = "padding-top: 70px;"
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" data-spy="affix">
                {% block sidebar_left %}
                {% endblock %}
            </div>
            <div class="col-lg-8 col-lg-push-2">
                {% block main %}
                {% endblock %}
            </div>
            <div class="col-lg-2 col-lg-push-2">
                {% block sidebar_right %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='bootstrap-autohidingnavbar-1.0.5/dist/jquery.bootstrap-autohidingnavbar.min.js') }}"></script>
    <script>
        $("nav.navbar-fixed-top").autoHidingNavbar();
    </script>
{% endblock %}
