{% extends "bootstrap/base.html" %}

{% block title %}Penguin{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
    {% include "_navbar.html" %}
{% endblock %}

{% block body_attribs %}
    style = "padding-top: 70px;"
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-2">
            {% block sidebar_left %}
            {% endblock %}
        </div>
        <div class="col-lg-8">
            {% block main %}
            {% endblock %}
        </div>
        <div class="col-lg-2">
            {% block sidebar_right %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

