{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {% for style in styles %}
        {{ style|safe }}
    {% endfor %}
{% endblock %}

{% block main %}
    {% for content in contents %}
        {{ content|safe }}
    {% endfor %}
{% endblock %}

{% block sidebar_left %}
    {% for left_widget in left_widgets %}
        {{ left_widget|safe }}
    {% endfor %}
{% endblock %}

{% block sidebar_right %}
    {% for right_widget in right_widgets %}
        {{ right_widget|safe }}
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for script in scripts %}
        {{ script|safe }}
    {% endfor %}
{% endblock %}