{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {% for style in styles %}
        {{ style|safe }}
    {% endfor %}
{% endblock %}

{% block main %}
    {% for widget in main_widgets %}
        <div id="widget-{{ widget['slug'] }}">
            {{ widget['html']|safe }}
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar_left %}
    {% for widget in left_widgets %}
        <div class="card" data-widget-slug="{{ widget['slug'] }}">
            <div class="card-header" id="widget-{{ widget['slug'] }}-heading">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#widget-{{ widget['slug'] }}-collapse"
                   aria-expanded="true" aria-controls="widget-{{ widget['slug'] }}-collapse">
                    {{ widget['name'] }}
                </a>
            </div>
            <div id="widget-{{ widget['slug'] }}-collapse" class="panel-collapse collapse show"
                 role="tabpanel"
                 aria-labelledby="widget-{{ widget['slug'] }}-heading">
                {{ widget['html']|safe }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar_right %}
    {% for widget in right_widgets %}
        <div class="card" data-widget-slug="{{ widget['slug'] }}">
            <div class="card-header" role="tab" id="widget-{{ widget['slug'] }}-heading">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#widget-{{ widget['slug'] }}-collapse"
                   aria-expanded="true" aria-controls="widget-{{ widget['slug'] }}-collapse">
                    {{ widget['name'] }}
                </a>
            </div>
            <div id="widget-{{ widget['slug'] }}-collapse" class="panel-collapse collapse in"
                 role="tabpanel"
                 aria-labelledby="widget-{{ widget['slug'] }}-heading">
                {{ widget['html']|safe }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for script in scripts %}
        {{ script|safe }}
    {% endfor %}
{% endblock %}