{% extends "base.html" %}
{% import "_panel-macros.html" as panels %}

{% block title %}{{ post.title }} - Penguin{% endblock %}

{% block styles %}
    {{ super() }}
    {{ panels.toc_style() }}
{% endblock %}

{% block main %}
    <article>
        <h1>{{ post.title }}</h1>
        <div>
            {{ post.body_html | safe }}
        </div>
    </article>
    <div>
        <h3>评论</h3>
        {% for comment in comments recursive %}
            <div class="panel panel-default" style="margin-bottom: 10px">
                <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px">
                    <h4>
                        {{ comment['comment'].author.name }}
                        <small style="padding-left: 10px"><em>{{ comment['comment'].timestamp }}</em></small>
                    </h4>
                </div>
                <div class="panel-body" style="padding-bottom: 5px">
                    {{ comment['comment'].body_html | safe }}
                    {% if comment['children'] %}
                        {{ loop(comment['children']) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar_left %}
    {{ panels.toc(post) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ panels.toc_script() }}
{% endblock %}