{% extends "base.html" %}
{% import "_panel-macros.html" as panels %}

{% block title %}{{ post.title }} - Penguin{% endblock %}

{% block metas %}
    {{ super() }}
    <meta name="description" content="{{ post.body_abstract[:100]|replace('\n',' ') }}"/>
    <meta name="keywords" content="{{ post.categories_and_tags_string() }}"/>
    <meta name="author" content="{{ post.author.name }}"/>
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ panels.toc_style() }}
{% endblock %}

{% block main %}
    <article>
        <h1>{{ post.title }}</h1>
        <div>
            {% if post.is_template_enabled() %}
                {% include template %}
            {% else %}
                {{ post.body_html | safe }}
            {% endif %}
        </div>
    </article>
    <div>
        <h3>评论</h3>
        {% for comment in comments recursive %}
            <div id="comment-{{ comment['comment'].id }}" class="panel panel-default" style="margin-bottom: 10px">
                <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px">
                    <h4>
                        {{ comment['comment'].author.name }}
                        <small style="padding-left: 10px">
                            <em>{{ moment(comment['comment'].timestamp).fromNow() }}</em>
                        </small>
                    </h4>
                </div>
                <div class="panel-body" style="padding-bottom: 5px">
                    {{ comment['comment'].body_html | safe }}
                    <div class="text-right">
                        <a data-parent="{{ comment['comment'].id }}" role="button" href="#"
                           class="reply-comment btn">回复</a>
                    </div>

                    {% if comment['children'] %}
                        {{ loop(comment['children']) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div id="new-comment" class="panel panel-default" style="margin-bottom: 10px">
            <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px">
                <h4>新的评论</h4>
            </div>
            <div class="panel-body" style="padding-bottom: 5px">
                <form id="comment-form" class="form-horizontal">
                    <input id="comment-parent" type="hidden" value="0"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10">
                            <input id="comment-name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input id="comment-email" type="email" class="form-control"
                                   placeholder="有新的回复将会通知到您的Email，您的Email不会被公开">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <textarea id="comment-body" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <button id="comment-submit" type="submit" class="btn btn-default" form="comment-form">发表评论</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_left %}
    {{ panels.toc(post) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ panels.toc_script() }}
    <script>
        $('a.reply-comment').click(function (event) {
            event.preventDefault();
            $('#new-comment').detach().insertAfter($(event.target).parent());
            console.log($(event.target));
            $('#comment-parent').val($(event.target).data('parent'));
        });
        $('#comment-submit').click(function (event) {
            event.preventDefault();
            $(this).prop('disabled', true);
            $.ajax({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
                },
                type: 'POST',
                url: '{{ url_for('.submit_comment',id=post.id) }}',
                data: {
                    parent: $('#comment-parent').val(),
                    name: $('#comment-name').val(),
                    email: $('#comment-email').val(),
                    body: $('#comment-body').val(),
                    success: function (msg) {
                        location.reload();
                    }
                }
            });
        })
    </script>
{% endblock %}